$mycolor : red;
h1{
    color: $mycolor;
    background-color:thistle;
    padding:20px+20px;
}

#maindiv{
    background-color:teal;
    padding:30px;
    border-radius:20px;

    h1{
    color:white;
    }
    #seconddiv{
    background-color:white;
    padding:20px;
    border-radius:20px;
    h2{
    color:teal;
    }
    }
}